---
import { GithubLogo } from 'radix-svelte-icons';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="The CyclersHub">
	<div class="relative h-[calc(100vh-100px)]">
		<img src="https://surlybikes.com/uploads/blog/SurlyBikePackingBlog_Banner_R2.jpg" class="absolute top-0 left-0 object-cover w-screen h-full my-0 brightness-[40%]">
		<div class="relative top-48 left-0 max-w-screen-xl mx-auto w-full">
			<h1 class="font-bold text-white mb-2">Setups</h1>
			<p class="text-white max-w-lg">This page is a Work-in-progress. Please tune in at a later point when we've made some progress on it.</p>
			<p class="text-white max-w-lg">Looking for other rider's rigs? You've come to the right place! Once we're done we'll offer you an amazing platform to share your rig and get inspired by other's.</p>
			<div class="flex gap-4">
				<a href="https://github.com/cyclershub" class="btn btn-md btn-accent"><GithubLogo size={24} /> Contribute</a>
			</div>
		</div>
	</div>
	
</Layout>
