---
import { prisma } from "../../lib/shared";
import ForumLayout from "../../layouts/ForumLayout.astro";
import { refreshAccessToken } from "../../lib/refreshAccessToken";
import ForumPreview from "@components/ForumPreview.svelte"
import NewsTicker from "@components/NewsTicker.svelte";

await refreshAccessToken(Astro);

const forums = await prisma.forum.findMany({
	include: {
		_count: {
			select: {
				threads: true,
				subscribers: true,
			},
		},
	},
});

---

<ForumLayout title="The CyclersHub">
	<div class="max-w-screen-xl mx-auto p-6">
		<h2 class="mb-4 text-base-content">Forums</h2>
		{
			forums.map((forum) => (
				<ForumPreview forum={forum} client:load></ForumPreview>
			))
		}
	</div>
	<div slot="aside">
		<NewsTicker client:only></NewsTicker>
	</div>
</ForumLayout>
