---
import Footer from '../components/Footer.svelte';
import Header from '../components/Header.svelte';
import "../style/global.css"
import { validateJsonWebToken } from '@lib/validateJsonWebToken';
import "svelte-ripple-action/ripple.css";

interface Props {
	title: string;
}

let user = null;

if (Astro.cookies.has("accessToken")) {
	const accessToken = Astro.cookies.get("accessToken").value;
	user = await validateJsonWebToken(accessToken);
} 

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Explore the wide-open with other like-minded people from around the globe!" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="w-full relative min-h-screen">
		<Header client:only></Header>
		<main class="prose prose-sm prose-pre:my-0 prose-pre:py-0 prose-pre:leading-5 w-full max-w-screen-2xl mx-auto grid grid-cols-1 lg:grid-cols-[auto_400px] gap-8">
			<article>
				<slot />
			</article>
			<aside class="sticky top-0 max-h-screen">
				<slot name="aside"></slot>
			</aside>
		</main>
		<slot name="footer"></slot>
		<Footer client:load></Footer>
	</body>
</html>
